.login {
    min-height: 100vh;
    overflow-x: hidden;
    background: url('../../assets/Ocean.svg') fixed;
}
.login__login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__block {
    width: 390px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
    background: #FFFFFF;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
    border-radius: 6px;
}
.register{
    margin-top: 2vh;
}
@media screen and (max-width: 768px) {
    .login__block {
        width: 75vw;
        margin-top: 12vh;
        margin-bottom: 25%;
    }
}

.login__block__mini {
    height: 100%;
    width: 84.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__text__welcome {
    margin-top: 45px;
    font-family: var(--font-mont);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #2C343E;
    text-align: center;
}

.login__text__sign {
    margin-top: 1px;
    font-family: var(--font-mont);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #2C343E;
    opacity: 0.8;
}

.login__text {
    margin-right: auto;
    margin-top: 14px;
    font-family: var(--font-mont);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    color: #2C343E;
    opacity: 0.9;
}

.login__input__block {
    background: #FFFFFF;
    border: 1px solid rgba(44, 52, 62, 0.3);
    border-radius: 6px;
    width: 100%;
    height: 40px;
    text-align: center;
    align-items: center;
    display: flex;
}

.eye {
    cursor: pointer;
    padding-bottom: 1px;
    padding-right: 12px;
}

.eye_margin {
    cursor: pointer;
    padding-right: 12px;
}

.login__input__block__active {
    display: flex;
    width: 100%;
    height: 40px;
    transition: border-bottom 0.5s ease-in-out;
    background: #FFFFFF;
    border: 1px solid rgba(44, 52, 62, 0.7);
    border-radius: 6px;
    text-align: center;
    align-items: center;
}

.login__input__block__false {
    width: 100%;
    transition: border-bottom 0.5s ease-in-out;
    display: flex;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #FF3333;
    border-radius: 6px;
    text-align: center;
    align-items: center;
}

.login__input {
    height: 40px;
    background: 0;
    border: 0;
    font-family: var(--font-mont);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    padding-left: 8px;
    color: #2C343E;
    width: 100%;
}

.login__input:focus {
    border: 0;
    outline: none;
    overflow: hidden;
}

.login__input__img {
    padding-left: 12px;
    margin-right: auto;
}
.login__input__img__right {
    padding-right: 12px;
    margin-right: auto;
    cursor: pointer;
}

.login__button {
    font-family: var(--font-mont);
    flex-direction: row;
    display: flex;
    height: 40px;
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 24px;
    background: #2C343E;
    border-radius: 6px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #FFFFFF;
}

.login__button__disabled {
    font-family: var(--font-mont);
    flex-direction: row;
    height: 40px;
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 24px;
    background: #D2D2D2;
    border-radius: 6px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: rgba(44, 52, 62, 0.7);
}

.login__account {
    margin-top: 12px;
    font-family: var(--font-mont);
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    align-items: center;
    color: #2C343E;
    display: block;
    flex-direction: row;
    white-space: pre-line;
    text-align: center;
}

.login__account__text {
    font-family: var(--font-mont);
    text-decoration: underline;
    margin-top: 0;
    color: #2C343E;
}

.login__account-span {
    font-family: var(--font-mont);
    color: #2C343E;
    margin-left: 10px;
    cursor: pointer;
    text-decoration: underline;
}

.login__or__block {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.login__or__left {
    margin-top: 25px;
    height: 1px;
    display: inline-block;
    width: 57%;
    margin-right: 3%;
    background: rgba(44, 52, 62, 0.3);
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.login__or__right {
    background: rgba(44, 52, 62, 0.3);
    transform: matrix(1, 0, 0, -1, 0, 0);
    margin-top: 25px;
    height: 1px;
    display: inline-block;
    width: 55%;
    margin-left: 3%;
}

.login__alert {
    font-family: var(--font-mont);
    background: #FFE7E7;
    border: 1px solid rgba(255, 51, 51, 0.3);
    border-radius: 6px;
    display: flex;
    font-size: 17px;
    line-height: 21px;
    color: #FF3333;
    height: 60px;
    width: 100%;
    margin-top: 15px;
    padding-left: 12px;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .login__alert img {
        margin-left: 2%;
        cursor: pointer;
    }
}

.login__alert img {
    cursor: pointer;
    width: 12px;
    margin-right: 12px;
    float: right;
}

.google__button-login {
    margin: 16px 0 35px 0;
    height: 100%;
}

@media screen and (max-width: 768px) {
    .login__google span {
        margin-left: 2%;
        font-size: 14px;
        line-height: 54px;
    }

    .login__google img {
        margin-left: 2%;
    }
}

.login__footer {
    height: 10vh;
    width: 100%;
    display: block;
}

.login__footer_2 {
    height: 40px;
    width: 100%;
    display: block;
}

.login__dots__Row {
    margin-top: 12px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login__dots__active {
    width: 40px;
    height: 10px;
    background: #2C343E;
    border-radius: 6px;
    margin-left: 5px;
}

.login__dots__noActive {
    width: 40px;
    height: 10px;
    background: rgba(44, 52, 62, 0.3);
    border-radius: 6px;
    margin-left: 5px;

}

.login__india__row {
    margin-top: 12px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 8px;
}

.login__india__block {
    background: #FFFFFF;
    border: 1px solid rgba(44, 52, 62, 0.3);
    border-radius: 6px;
    max-width: 161px;
    height: auto;
    margin-right: 8px;
    display: grid;
    cursor: pointer;
}

.login__india__block__active {
    background: #FFFFFF;
    border: 1px solid black;
    border-radius: 6px;
    max-width: 161px;
    height: auto;
    margin-right: 8px;
    display: grid;
    cursor: pointer;
}


.login__india__block__normal {
    max-width: 161px;
    margin-top: 2px;
    height: auto;
    width: 80%;
    margin-left: auto;
}

.login__india__block__revert {
    max-width: 161px;
    width: 80%;
    margin-top: 2px;
    transform: scaleX(-1);
    height: auto;
    margin-right: auto;
}
.login__india__block__text {
    font-family: var(--font-mont);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    height: 34px;
    align-items: center;
    text-align: center;
    border-top: 1px solid rgba(44, 52, 62, 0.3);
    color: #2C343E;
    margin-bottom: auto;
}
.desc{
    height: 120px;
    white-space: pre-wrap;
    line-height: 17px;
    align-items: start;
    box-sizing: border-box;
    display: block;
}
textarea{
    width:100%;
}
.descArea{
    box-sizing: border-box;
    height: 120px;
    min-width: 100%;
    overflow: hidden;
    resize: none;
    padding: 8px;
    width: 100%;
    margin: 0;
}
.text__left{
    text-align: left;
    line-height: 40px;
}
.login__skills{
    margin-top: 8px;
}
.login__files{
    width: 100%;
    background: #FFFFFF;
    border: 1px dashed #2C343E;
    box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    height: 132px;
}
.login__files__label{
    width: 100%;
    display: inline-block;
    height: 132px;
}
.login__files input{
    width: 100%;
    opacity: 0;
    height: 1%;
}
.login__files__input__div{
    height: 70px;
    margin: 12px;
    display: flex;
}
.login__files__div{
    width: 40px;
    height: 40px;
    background: #2C343E;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login__files__div img{
    width: 20px;
    height: 20px;
}
.login__files__text{
    width: 90%;
    margin-left: 12px;
    height: 60px;
}
.login__files__text .div__text{
    font-family: var(--font-mont);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: #2C343E;
    opacity: 0.7;
}
.login__files__button{
    margin-left: 56px;
    width: 108px;
    height: 24px;
    background: #2C343E;
    border-radius: 6px;
    font-family: var(--font-mont);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    color: white;
    margin-top: 10px;
    cursor: pointer;
    justify-content: center;
}
.login__dropdown {
    background: white;
    display: flex;
    position: relative;
    width: 100%;
    justify-content: flex-end;
    border: 1px solid rgba(44, 52, 62, 0.3);
    border-radius: 6px;
    height: 40px;
}
.drop{
    border: none;
}
@media screen and (max-width: 400px) {
    .login__middle__centered__cat {
        margin: 5px auto 10px;
    }

    .login__dropdown {
        justify-content: center;
    }
}

.login__dropdown-cat {
    display: none;
}
.login__dropdown span{
    font-family: var(--font-mont);
    font-weight: 400;
    font-size: 14px;
    line-height: 40px;
    color: #2C343E;
    flex: auto;
    padding-left: 8px;
    white-space: pre-wrap;
    overflow-x: hidden;
    overflow-y: hidden;
}
.login__dropdown-cat.open {
    margin-top: 45px;
    height: 120px;
    background:white;
    border: 1px solid rgba(44, 52, 62, 0.3);
    border-radius: 8px;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    z-index: 5;
}
.login__dropdown-cat-wrapper {
    padding: 9px 10px;
    cursor: pointer;
}
.login__dropdown-cat-wrapper:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.login__dropdown-cat-wrapper:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.login__dropdown-cat p {
    font-family: var(--font-mont);
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #2C343E;
}
.login__dropdown-cat-wrapper:hover {
    background: #FFE7E7;
}
.login__dropdown__arrow {
    vertical-align: baseline;
    cursor: pointer;
}
.login__file{
    margin-left: 12px;
}

