.profile {
  display: flex;

  background: url("../../assets/Ocean.svg") fixed;
  min-height: 100vh;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile__container {
  margin: 100px 0;
  background: rgba(44, 52, 62, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
  border-radius: 6px;
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.loading-screen {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile__container-mainInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 24px;
}

.profile__container-contacts,
.profile__container-routes,
.profile__container-languages,
.profile__container-skills,
.profile__container-additional {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 24px;
}

.profile__container-mainInfo:hover {
  background: rgba(37, 44, 53, 0.5);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.profile__container-contacts:hover,
.profile__container-routes:hover,
.profile__container-languages:hover,
.profile__container-skills:hover,
.profile__container-additional:hover {
  background: rgba(37, 44, 53, 0.5);
}

.profile__container-mainInfo_img {
  width: 158px;
  height: 158px;
}

.profile__container-mainInfo_img img {
  object-fit: contain;
}

.edit {
  display: flex;
  align-items: center;
  gap: 8px;
}

.edit-text {
  font-family: var(--font-mont);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 4px;
  display: none;
  white-space: nowrap;
}

.profile__container-mainInfo:hover .edit-text,
.profile__container-contacts:hover .edit-text,
.profile__container-routes:hover .edit-text,
.profile__container-languages:hover .edit-text,
.profile__container-skills:hover .edit-text,
.profile__container-additional:hover .edit-text {
  display: flex;
}

.edit-text img {
  width: 16px;
  height: 16px;
}

.age,
.cv,
.email,
.phone,
.help {
  display: flex;
  align-items: center;
  gap: 8px;
}

.age span,
.email span,
.phone span,
.help span {
  font-family: var(--font-mont);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.profile__container-text-p {
  font-family: var(--font-mont);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  opacity: 0.7;
}
.profile__container-mainInfo_text h1 {
  font-family: var(--font-mont);
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #ffffff;
  max-width: 400px;
  word-break: keep-all;
}

.profile__container-mainInfo_text h2,
.profile__container-contacts h2,
.profile__container-routes h2,
.profile__container-languages h2,
.profile__container-skills h2,
.profile__container-additional h2 {
  font-family: var(--font-mont);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.cv a {
  all: unset;
  background: #ffffff;
  border-radius: 6px;

  font-family: var(--font-mont);
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #2c343e;
  height: 24px;
  width: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  background: rgba(255, 255, 255, 0.3);
  height: 1px;
  width: 92%;
  align-self: center;
}

.profile__container-routes ul,
.profile__container-skills ul,
.profile__container-languages ul {
  margin: 4px 0 0 24px;
}

.profile__container-routes ul li,
.profile__container-skills ul li,
.profile__container-languages ul li {
  font-family: var(--font-mont);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin-top: 16px;
}

.profile__container-additional p {
  font-family: var(--font-mont);
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  word-break: break-all;
}

.logout {
  all: unset;
  background: #ffffff;
  border-radius: 6px;
  font-family: var(--font-mont);
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #2c343e;
  height: 34px;
  width: 166px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  cursor: pointer;
  justify-self: flex-end;
  margin: 100px 24px 24px 0;
}

.maininfo-input {
  all: unset;
  background: rgba(44, 52, 62, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  height: 36px;
  font-family: var(--font-mont);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding-left: 5px;
  width: 100%;
}

.profile-files-label {
  display: flex;
  flex-direction: column;
  background: rgba(44, 52, 62, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  height: 100%;
  align-items: center;
  padding: 10px;
  justify-content: center;
  width: 180px;

  cursor: pointer;
}

.profile__input__block {
  font-family: var(--font-mont);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  max-width: 160px;
  overflow: hidden;
}

.profile__files__button {
  border-radius: 6px;
  font-family: var(--font-mont);
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  padding: 0 5px;
  color: #ffffff;
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.profile__input__block-per {
  background: rgba(44, 52, 62, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  width: 100%;

  height: 40px;
  text-align: center;
  align-items: center;
  display: flex;
}

.profile-per__input {
  height: 40px;
  background: 0;
  border: 0;
  font-family: var(--font-mont);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  align-items: center;
  display: flex;
  padding-left: 8px;
  color: #ffffff;
  width: 100%;
  overflow: hidden;
}

.profile-per__input:focus {
  border: 0;
  outline: none;
  overflow: hidden;
}

.profile-per__input__img__right {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: auto;
  cursor: pointer;
  filter: invert(1);
}

.profile__input__block-per,
.login__input__block-per__false,
.login__input__block-per__active {
  background: rgba(44, 52, 62, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  width: 100%;

  height: 40px;
  text-align: center;
  align-items: center;
  display: flex;
}

.profile__dropdown {
  display: flex;
  position: relative;
  width: 100%;
}

.profile__dropdown-drop {
  background: rgba(44, 52, 62, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  position: relative;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  height: 100px;
  padding: 10px;
  overflow-y: scroll;
}

.profile__dropdown span {
  font-family: var(--font-mont);
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  flex: auto;
  padding-left: 8px;
  white-space: pre-wrap;
  max-height: 90px;
}

.profile__dropdown-cat {
  display: none;
}

.profile__dropdown-cat.open {
  margin-top: 105px;
  height: 150px;
  background: white;
  border: 1px solid rgba(44, 52, 62, 0.3);
  border-radius: 8px;
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  z-index: 5;
}

.profile__dropdown-cat-wrapper {
  padding: 10px;
}

.profile__dropdown-cat p {
  font-family: var(--font-mont);
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}

.edit-textarea-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  width: 100%;
  background: rgba(44, 52, 62, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  height: 100%;
  padding: 12px;
}

.edit-textarea-wrapper h3 {
  font-family: var(--font-mont);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.7);
  align-self: flex-end;
  justify-self: flex-end;
  margin-top: 5px;
}

.edit-textarea-wrapper textarea {
  all: unset;
  height: 120px;

  font-family: var(--font-mont);
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}

@media screen and (max-width: 600px) {
  .profile__container {
    border-radius: 0;
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  .profile__container-mainInfo_img {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .profile__container-mainInfo,
  .profile__container-contacts,
  .profile__container-routes,
  .profile__container-languages,
  .profile__container-skills,
  .profile__container-additional {
    padding: 24px 12px;
  }
}
