.alert {
  background: #2c343e;
  border-radius: 6px;
  display: flex;
  max-width: 1023px;
  width: 70%;
  padding: 16px;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  /*  top: 32px; */
  top: -100px;
  animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
  0% {
    top: -100px; /* Початкова позиція алерту зверху */
    opacity: 0;
  }
  100% {
    top: 32px; /* Кінцева позиція алерту внизу */
    opacity: 1;
  }
}

.alert p {
  font-family: var(--font-mont);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: start;
  color: #ffffff;
}

.alert img {
  cursor: pointer;
  position: absolute;
  right: 16px;
}
