.alert {
  background: #2c343e;
  border-radius: 6px;
  display: flex;
  max-width: 1023px;

  padding: 25px 40px 25px 25px;
  align-items: center;
  justify-content: center;
  top: 32px;
  position: fixed;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

.alert p {
  font-family: var(--font-mont);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}

.alert img {
  cursor: pointer;
  position: absolute;
  right: 16px;
}
