.search-component {
  display: flex;
  max-width: 250px;
  width: 100%;
}

.search-component input {
  all: unset;
  background: rgba(44, 52, 62, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  height: 40px;
  width: 100%;
  font-family: var(--font-mont);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding: 0 12px;
  color: #ffffff;
}

.search-component input:focus {
  outline: auto;
}
